<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:b="http://www.springframework.org/schema/beans"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/atendente/**" access="ROLE_ATENDENTE,ROLE_ADMIN" />
        <intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" />
        <intercept-url pattern="/enfermeiro/**" access="ROLE_ENFERMEIRO,ROLE_ADMINISTRADOR" />
        <form-login login-page="/login.xhtml" 
                    authentication-failure-handler-ref="authenticationFailureHandler"           
                    authentication-success-handler-ref="DirecionadorUsuario"/>
        
        <logout invalidate-session="true"/>
    </http>
    
    <b:bean id="DirecionadorUsuario"
            class="br.com.sicva.seguranca.DirecionadorUsuario" />
        
    <b:bean id="ProvedorAutenticacao" class="br.com.sicva.seguranca.ProvedorAutenticacao"/>
        
    <b:bean id="authenticationFailureHandler"
            class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
        <b:property name="exceptionMappings">
            <b:props>
                <b:prop key="org.springframework.security.authentication.BadCredentialsException">/login.xhtml?badCredentials=true&amp;error=true</b:prop>
                <b:prop key="org.springframework.security.authentication.CredentialsExpiredException">/login.xhtml?credentialsExpired=true</b:prop>
                <b:prop key="org.springframework.security.authentication.LockedException">/login.xhtml?accountLocked=true&amp;error=true</b:prop>
                <b:prop key="org.springframework.security.authentication.DisabledException">/login.xhtml?accountDisabled=true&amp;error=true</b:prop>
            </b:props>
        </b:property>
    </b:bean>
       
    <authentication-manager>
        <authentication-provider ref="ProvedorAutenticacao">            
            <!--<password-encoder hash="md5"/>
<jdbc-user-service data-source-ref="dataSource"
users-by-username-query="SELECT USUARIOS_CPF as username, USUARIO_SENHA as password, USUARIO_ATIVO as enable FROM usuarios WHERE USUARIOS_CPF=?"
authorities-by-username-query="SELECT USUARIOS_CPF AS username,
            FUNCAO_DESCRICAO AS authority FROM USUARIOS
            INNER JOIN funcao on FUNCAO_ID = USUARIO_FUNCAO_ID
            WHERE USUARIOS_CPF ==?" />-->
        </authentication-provider>
    </authentication-manager>

    <b:bean id="dataSource"
            class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <b:property name="url" value="jdbc:mysql://localhost:3306/sicva" />
        <b:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <b:property name="username" value="root" />
        <b:property name="password" value="123" />
    </b:bean>
</b:beans>